<ion-header>
    <ion-toolbar color="secondary">
      <ion-title>
      Logo
       </ion-title> 
       <ion-buttons slot="end">
          <ion-button icon-only  (click)="openModal()">
            <ion-icon name="options" style="color:var(--ion-color-secondary-contrast)"></ion-icon>
          </ion-button> 
          <ion-button icon-only>
            <ion-icon name="settings" style="color:var(--ion-color-secondary-contrast)"></ion-icon>
           </ion-button> 
           <ion-button icon-only (click)="lagOut()">
              <ion-icon name="log-out" style="color:var(--ion-color-secondary-contrast)" ></ion-icon>
             </ion-button> 
         </ion-buttons> 
     </ion-toolbar> 
  
  </ion-header>  