<app-header></app-header>
<ion-content>
  <ion-toolbar>
    <ion-title color="dark">
      Home
    </ion-title>
  </ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card class="welcome-card">
          <img src="/assets/background.jpg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <p>Now that your app has been created, you'll want to start building out features and components.
                  Check out some of the resources below for next steps.</p>
            <div class="ion-text-end">
                Now that your app has been created, you'll want to start building out features and components.
                Check out some of the resources below for next steps
             </div> 
         
              <div class="ion-text-start">
                  Now that your app has been created, you'll want to start building out features and components.
                  Check out some of the resources below for next steps
               </div> 

               <div class="ion-text-end">
                  Now that your app has been created, you'll want to start building out features and components.
                  Check out some of the resources below for next steps
               </div> 

               <div class="ion-text-wrap">
                  Now that your app has been created, you'll want to start building out features and components.
                  Check out some of the resources below for next steps
               </div> 
               <div class="ion-text-justify">
                  Now that your app has been created, you'll want to start building out features and components.
                  Check out some of the resources below for next steps
               </div> 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card >
          <ion-list lines="none">
            <ion-item>
              <strong>App name:</strong> Whether App
            </ion-item>
          </ion-list>
          <ion-list lines="none">
            <ion-item>
              <strong>Version App:</strong>1.6 </ion-item>
          </ion-list>
          <ion-list lines="none">
            <ion-item>
              <strong>Description:</strong> Tells all the Whether related news
            </ion-item>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  
  <!-- <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item >
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->

</ion-content>